/*--------- main content CSS: START---------*/
body {
    background-color: #2d9a9c;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    border: 3px solid white;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    border: 12px groove #001516;
    background-color: rgb(231, 202, 165);
}

.services h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    text-shadow: 2px -1.5px whitesmoke;
    font-weight: bolder;
}

.services--list__container {
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 3em;
}

.services--list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-shadow: 2px -1.5px whitesmoke;
    width: 100%;
}

.guests h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.guests ul {
    font-size: 20px;
}
/*--------- main content CSS: END---------*/


/*--------- header content CSS: START---------*/
.header {
    display: flex;
    background-color: #045c5a;
    height: 30rem;
    border-bottom: 10px groove rgb(14, 77, 113);
    box-shadow: 5px -7px #002526;
    background-image: url("../images/ciderfallsbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    background-position: top center;
    margin-bottom: 4rem;
}

.header--left {
    float: left;
    display: flex;
    object-fit: contain;
    height: 98%;
    width: 40%;
}

.header--logo {
    display: flex; 
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    width: 90%;
    height: 90%;
}

.header--title {
    float: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2rem;
    height: 98%;
    width: 57%;
    font-family:'Abel','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 9rem;
    text-shadow: 2px -2px lightsteelblue;
    font-weight: bolder;
    text-align: center;    
}
/*--------- header content CSS: END---------*/


/*--------- footer content CSS: START---------*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #045c5a;
    height: 18rem;
    border-top: 10px ridge rgb(14, 77, 113);
    background-image: url("../images/footerbg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    margin-top: 10rem;
    box-shadow: 5px 7px #002526;
}

.footer--title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 24px;
    text-shadow: 2px -1px rgb(136, 105, 67);
    font-weight: bold;
    text-align: center;
}

.contactInfo {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 20px;
    text-shadow: 2px -1px rgb(136, 105, 67);
    font-weight: bold;
    text-align: left;
}
/*--------- footer content CSS: END---------*/
